Newtouch.HIS.CIS/Newtouch.DomainServices/Web References/BGESBSercice/BGESB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SHQP.BGESB.ServiceProvider" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://SHQP.BGESB.ServiceProvider" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Newtouch BGESB WebService</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SHQP.BGESB.ServiceProvider">
      <s:element name="CallBGESB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BusinessRequest" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Requester" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallBGESBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallBGESBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CallBGESBSoapIn">
    <wsdl:part name="parameters" element="tns:CallBGESB" />
  </wsdl:message>
  <wsdl:message name="CallBGESBSoapOut">
    <wsdl:part name="parameters" element="tns:CallBGESBResponse" />
  </wsdl:message>
  <wsdl:portType name="BGESBSoap">
    <wsdl:operation name="CallBGESB">
      <wsdl:input message="tns:CallBGESBSoapIn" />
      <wsdl:output message="tns:CallBGESBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BGESBSoap" type="tns:BGESBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallBGESB">
      <soap:operation soapAction="http://SHQP.BGESB.ServiceProvider/CallBGESB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BGESBSoap12" type="tns:BGESBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallBGESB">
      <soap12:operation soapAction="http://SHQP.BGESB.ServiceProvider/CallBGESB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BGESB">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Newtouch BGESB WebService</wsdl:documentation>
    <wsdl:port name="BGESBSoap" binding="tns:BGESBSoap">
      <soap:address location="http://40.21.114.251:9999/BGESB.asmx" />
    </wsdl:port>
    <wsdl:port name="BGESBSoap12" binding="tns:BGESBSoap12">
      <soap12:address location="http://40.21.114.251:9999/BGESB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>