Newtouch.HIS.CIS/Newtouch.CIS.Proxy/Connected Services/TcmReceiveServiceReference/ReceiveWebServiceInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://service.web.safesoft.com/" name="ReceiveWebServiceInterface" targetNamespace="http://service.web.safesoft.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="TCM_HIS_07Response">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="TCM_HIS_08Response">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="TCM_HIS_09">
    <wsdl:part name="arg0" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="TCM_HIS_08">
    <wsdl:part name="arg0" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="TCM_HIS_07">
    <wsdl:part name="arg0" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="TCM_HIS_09Response">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="ReceiveWebServiceInterface">
    <wsdl:operation name="TCM_HIS_08">
      <wsdl:input name="TCM_HIS_08" message="ns1:TCM_HIS_08" />
      <wsdl:output name="TCM_HIS_08Response" message="ns1:TCM_HIS_08Response" />
    </wsdl:operation>
    <wsdl:operation name="TCM_HIS_07">
      <wsdl:input name="TCM_HIS_07" message="ns1:TCM_HIS_07" />
      <wsdl:output name="TCM_HIS_07Response" message="ns1:TCM_HIS_07Response" />
    </wsdl:operation>
    <wsdl:operation name="TCM_HIS_09">
      <wsdl:input name="TCM_HIS_09" message="ns1:TCM_HIS_09" />
      <wsdl:output name="TCM_HIS_09Response" message="ns1:TCM_HIS_09Response" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>