Newtouch.HIS.Herp/Newtouch.Herp.DomainServices/Web References/PurchaseWebService/YsxtMainServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://main.service.local.wondersgroup.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="YsxtMainServiceImplService" targetNamespace="http://main.service.local.wondersgroup.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://main.service.local.wondersgroup.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="sendRecv" type="tns:sendRecv" />
      <xs:element name="sendRecvResponse" type="tns:sendRecvResponse" />
      <xs:complexType name="sendRecv">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element minOccurs="0" name="arg6" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendRecvResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="sendRecv">
    <wsdl:part name="parameters" element="tns:sendRecv" />
  </wsdl:message>
  <wsdl:message name="sendRecvResponse">
    <wsdl:part name="parameters" element="tns:sendRecvResponse" />
  </wsdl:message>
  <wsdl:portType name="YsxtMainService">
    <wsdl:operation name="sendRecv">
      <wsdl:input name="sendRecv" message="tns:sendRecv" />
      <wsdl:output name="sendRecvResponse" message="tns:sendRecvResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YsxtMainServiceImplServiceSoapBinding" type="tns:YsxtMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendRecv">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sendRecv">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendRecvResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YsxtMainServiceImplService">
    <wsdl:port name="YsxtMainServiceImplPort" binding="tns:YsxtMainServiceImplServiceSoapBinding">
      <soap:address location="http://172.31.195.11:7003/ysxt-ws/service/mainservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>