Newtouch.HIS.CIS/Newtouch.CIS.Proxy/Connected Services/ServiceReferenceSqsq/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.wmsps.jalone.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="Service" targetNamespace="http://service.wmsps.jalone.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://service.wmsps.jalone.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="service" type="tns:service" />
      <xs:element name="serviceResponse" type="tns:serviceResponse" />
      <xs:complexType name="service">
        <xs:sequence>
          <xs:element minOccurs="0" name="param" type="xs:string" />
          <xs:element minOccurs="0" name="data" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="String" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="serviceResponse">
    <wsdl:part name="parameters" element="tns:serviceResponse" />
  </wsdl:message>
  <wsdl:message name="service">
    <wsdl:part name="parameters" element="tns:service" />
  </wsdl:message>
  <wsdl:portType name="IWebService">
    <wsdl:operation name="service">
      <wsdl:input name="service" message="tns:service" />
      <wsdl:output name="serviceResponse" message="tns:serviceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoapBinding" type="tns:IWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="service">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="service">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="serviceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="WebServiceImplPort" binding="tns:ServiceSoapBinding">
      <soap:address location="http://120.79.183.228:91/wmsps/services/jfWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>