Newtouch.HIS.Sett/Newtouch.HIS.Proxy/Service References/GuiAnXnhReference/HisService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://webservice.hisinterface.hzyl.aspirecn.com/" name="HisService" targetNamespace="http://webservice.hisinterface.hzyl.aspirecn.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://webservice.hisinterface.hzyl.aspirecn.com/" elementFormDefault="unqualified" targetNamespace="http://webservice.hisinterface.hzyl.aspirecn.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="request" type="tns:request" />
      <xs:element name="request1" type="tns:request1" />
      <xs:element name="request1Response" type="tns:request1Response" />
      <xs:element name="requestResponse" type="tns:requestResponse" />
      <xs:complexType name="request1">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="request1Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="request">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="request1Response">
    <wsdl:part name="parameters" element="ns1:request1Response" />
  </wsdl:message>
  <wsdl:message name="request">
    <wsdl:part name="parameters" element="ns1:request" />
  </wsdl:message>
  <wsdl:message name="requestResponse">
    <wsdl:part name="parameters" element="ns1:requestResponse" />
  </wsdl:message>
  <wsdl:message name="request1">
    <wsdl:part name="parameters" element="ns1:request1" />
  </wsdl:message>
  <wsdl:portType name="HisService">
    <wsdl:operation name="request1">
      <wsdl:input name="request1" message="ns1:request1" />
      <wsdl:output name="request1Response" message="ns1:request1Response" />
    </wsdl:operation>
    <wsdl:operation name="request">
      <wsdl:input name="request" message="ns1:request" />
      <wsdl:output name="requestResponse" message="ns1:requestResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>