oh-物资耗材/Newtouch.Herp.DomainServices/Connected Services/PurchaseWebService/SendRecv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.framework.shys.wondersgroup.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SendRecv" targetNamespace="http://ws.framework.shys.wondersgroup.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.framework.shys.wondersgroup.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="SendRecv" type="tns:SendRecv" />
      <xs:element name="SendRecvResponse" type="tns:SendRecvResponse" />
      <xs:complexType name="SendRecv">
        <xs:sequence>
          <xs:element minOccurs="0" name="sUser" type="xs:string" />
          <xs:element minOccurs="0" name="sPwd" type="xs:string" />
          <xs:element minOccurs="0" name="sJgbm" type="xs:string" />
          <xs:element minOccurs="0" name="sVersion" type="xs:string" />
          <xs:element minOccurs="0" name="sXxlx" type="xs:string" />
          <xs:element minOccurs="0" name="sSign" type="xs:string" />
          <xs:element minOccurs="0" name="xmlData" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SendRecvResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SendRecvResponse">
    <wsdl:part name="parameters" element="tns:SendRecvResponse" />
  </wsdl:message>
  <wsdl:message name="SendRecv">
    <wsdl:part name="parameters" element="tns:SendRecv" />
  </wsdl:message>
  <wsdl:portType name="DispatcherService">
    <wsdl:operation name="SendRecv">
      <wsdl:input name="SendRecv" message="tns:SendRecv" />
      <wsdl:output name="SendRecvResponse" message="tns:SendRecvResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendRecvSoapBinding" type="tns:DispatcherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendRecv">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="SendRecv">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SendRecvResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendRecv">
    <wsdl:port name="dispatcher" binding="tns:SendRecvSoapBinding">
      <soap:address location="http://192.168.20.110/ysxtqx-ws/services/dispatcher" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>